/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
    background-color: #0e0e10;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #d0c8d2;
    border-right: 1px solid #eee;

  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #CA382B;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
    background-color: #b60009;
    padding: 17px 0 17px 30px;
    margin-top: 1px;
    color: #ffffff;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.FixedHeightContainer1
{
    /*float: inherit;*/
    height: 350px;
    /*width:1280px;*/
    padding: 0px;
    /*background:#f00;*/

}
.FixedHeightContainer2
{
    /*float: inherit;*/
    height: 500px;
    /*width:1280px;*/
    padding: 0px;
    /*background:#f00;*/

}
.Content1
{
    height:330px;
    overflow:auto;
    background:#fff;
    font-size: xx-large;
}
.Content2
{
    height:450px;
    overflow:auto;
    background:#fff;
    font-size: xx-large;
}

.Table_title {
    /*width: 1280px;*/
    /*background-color: rgb(148, 25, 31);*/
    /*color: aliceblue;*/
    color: rgba(195, 187, 112, 0.75);
    padding: 0px;
    height: 40px;
}

table#table1 {
    font-size: x-small;
    padding: 0px;
    margin: 0;
}
table#table2 {
    color: #f3fef3;
    font-size: small;
    height: 39px;
    margin: 0;
}


table#table3 {
    font-size: small;
}

h2 {
    color: #3b65d1;
}

.form-control2 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control3 {
  display: block;
  width: 40%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-country {
  display: block;
  width: 30%;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorlist {
    color: #ac2925;
    display: inline;
}

#sides{
    margin:0;
}
#left{
    float:left;
    width:47%;
    overflow:hidden;
    margin-right: 10px;
}
#left ul {
    padding: 0;
}
#left li {
    display: inline;
    list-style-type: none;
    padding: 0;
}
#right{
    float:left;
    width:47%;
    overflow:hidden;
    margin-left: 10px;

}

#right ul {
    padding: 0;
}
#right li {
    display: inline;
    list-style-type: none;
    padding: 0;
}

/*.buttonHolder{*/
    /*width: 100px;*/
    /*margin: 0 auto 0 auto;*/
    /*text-align: center;*/
/*}*/

/*span {*/
  /*color: white;*/
  /*text-decoration: none;*/
/*}*/

/*span:hover {*/
    /*color: yellow;*/
    /*position: relative;*/
/*}*/


/*span[title]:hover:after {*/
  /*content: attr(title);*/
  /*padding: 4px 8px;*/
  /*color: #333;*/
  /*position: absolute;*/
  /*right: -100px;*/
  /*top: 100%;*/
  /*white-space: nowrap;*/
  /*/!*z-index: 20px;*!/*/
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  /*border-radius: 5px;*/
  /*-moz-box-shadow: 0px 0px 4px #222;*/
  /*-webkit-box-shadow: 0px 0px 4px #222;*/
  /*box-shadow: 0px 0px 4px #222;*/
  /*background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);*/
  /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));*/
  /*background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);*/
  /*background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);*/
  /*background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);*/
  /*background-image: -o-linear-gradient(top, #eeeeee, #cccccc);*/
/*}*/

button#evidence_add.btn.btn-default {
    margin-left: 90%;
}



#panel-heading1, #panel-heading3, #panel-heading5, #panel-heading7, #panel-heading9, #panel-heading11{
    background-color: #78b2e1;
}

#panel-heading2, #panel-heading4, #panel-heading6, #panel-heading8, #panel-heading10, #panel-heading12{
    background-color: #b0e4ff;
}


/*#collapse1, #collapse3, #collapse5, #collapse7, #collapse9, #collapse11{*/
    /*background-color: rgba(120, 178, 225, 0.71);*/

/*}*/

/*#collapse2, #collapse4, #collapse6, #collapse8, #collapse10, #collapse12{*/
    /*background-color: rgba(176, 228, 255, 0.71);*/

/*}*/

#main-background{
    padding: 0px 0px 20px 0px;
}

#hp-list-1{
    padding: 0 0px 0 0px;
}

.panel-group{
    margin-left: 0px;
    margin-right: 0px;
}

#sidebar{
    /*background-color: #646466;*/
}

#sidebar a{
    color: #000000;
}

.navbar-header a{
    color: white;
    font-size:30px;
}

.navbar-right a{
    color: white;
}

.navbar-fixed-top{

}

#page-top{
    color: white;
}

table#collapse-table td{
    border-top: 0;
}

#main-content {
    padding: 0 30px 0 30px;
}

#bottom_sidebar_button {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 15px;
}