<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <title>SCRC query system</title>
    </head>
    <body>
        <h1>Multiple search</h1>
        <form method="POST" action="/query/advanced_search/">
            {% csrf_token %}
            <input name="company_name" id="id_search_company" placeholder="Enter a company name" />
{#            <input type="radio" name="choice" id="choice_1" value="1" />#}
{#            <label for="choice_1">By name</label>#}
{#            <input type="radio" name="choice" id="choice_2" value="2" />#}
{#            <label for="choice_2">By ticker</label>#}
            <br>
            <button type="submit" class="btn btn-default" name="btn1">Search</button>
            <br>
            {{ form.as_table }}
            <br>
            <button type="submit" class="btn btn-default" name="btn2">Add</button>
            <br>
            <h2>{{ country }}</h2>
            <table class="table table-condensed">
                {% for company, value in selected_details.items %}
                    <tr>
                        <td><a href={% url 'query.views.company_details' company %}>{{ company }}</a></td>
                    </tr>
{#                    <tr>Ratings:</tr>#}
                    <tr>
                        <td>Year</td>
                        <td>SM</td>
                        <td>SS</td>
                        <td>CM</td>
                        <td>SRM</td>
                        <td>LHR</td>
                        <td>ES</td>
                    </tr>
                    {% for rating in value %}
                        {% if forloop.counter|add:5|divisibleby:6 %}
                            <tr></tr>
                            <td>{{ rating.date.year }}</td>
                        {% endif %}
                        <td>{{ rating.score }}</td>
                    {% endfor %}
                {% endfor %}
            </table>

{#            {{ selected_company_id }}#}
            <input name="selected" value="{{ selected_company_id }}" hidden="true"/>
{#            <button type="submit" class="save btn btn-default">Search</button>#}
        </form>

{#        <form method="POST">#}
{#            {{ form.as_table }}#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="save btn btn-default">Search</button>#}
{#        </form>#}
    </body>
    <br>
    <footer>
        <a href={% url "query.views.home_page" %}> Home </a>
    </footer>
</html>
{% endblock content %}