<html>
    <head>
        <title>SCRC query system</title>
    </head>
    <body>
        <h1>{{ company.name }}</h1>
        <table id="company_info_table">
{#                    <tr><td>{{ company.name }}</td></tr>#}
                    <tr><td>Ticker: {{ company.ticker }}</td></tr>
                    <tr><td>Bloomberg ticker: {{ company.bloomberg_ticker }}</td></tr>
                    <tr><td>Website: <a href=company.website> {{ company.website }} </a></td></tr>
                    <tr><td>Industry group: {{ company.industry_group }}</td></tr>
                    <tr><td>Industry subgroup: {{ company.industry_subgroup }}</td></tr>
        </table>
    </body>
</html>