<!DOCTYPE html>
{% extends 'base2.html' %}
{% block test %}
<html>
    <head>
        <title>SCRC query system</title>
    </head>
    <body>
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
    {% else %}
        <h1>Please login</h1>
    {% endif %}
    </body>
    <br>
    <footer>
{#        <a href={% url "query.views.evidence_list"%}>List</a>#}
{#        <br>#}
{#        <a href={% url "query.views.home_page" %}> Home </a>#}

    </footer>
</html>
{% endblock test %}