<html>
    <head>
        <title>SCRC query system</title>
    </head>
    <body>
        <h1>Company list</h1>
        <form method="POST">
            <input name="company_name" id="id_search_company" placeholder="Enter a company name" />
            {% csrf_token %}
        </form>
        <table id="company_info_table">
            {% for company in companies %}
                <tr>
                    <td><a href={% url 'query.views.company_details' company.id %}>{{ company.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>