{% extends 'base2.html' %}

{% block title %}{{ company }} - Secondary data{% endblock title %}

{% block test %}
    <h1>{{ company }}</h1>
    {% if no_data == 1 %}
        <br>
        <p>No secondary data available for this company</p>
    {% endif %}


{% include 'secondary_data.html' %}


{#    <h3>SRM Evaluation</h3>#}
{#    {% for line in SRM %}#}
{#        <b>{{ line.category }}</b>#}
{#        <br>#}
{#        {% if line.link == 'N/A' %}#}
{#            N/A#}
{#        {% else %}#}
{#            <a href="{{ line.link}}" >{{ line.link }}</a>#}
{#        {% endif %}#}
{#        <div class="brief">{{ line.description }}</div>#}
{#        <br>#}
{#    {% endfor %}#}

{#    <h3>LHR Evaluation</h3>#}
{#    {% for line in LHR %}#}
{#        <b>{{ line.category }}</b>#}
{#        <br>#}
{#        {% if line.link == 'N/A' %}#}
{#            N/A#}
{#        {% else %}#}
{#            <a href="{{ line.link}}" >{{ line.link }}</a>#}
{#        {% endif %}#}
{#        <div class="brief">{{ line.description }}</div>#}
{#        <br>#}
{#    {% endfor %}#}

{#    <h3>Environmental Sustainability Evaluation</h3>#}
{#    {% for line in ES %}#}
{#        <b>{{ line.category }}</b>#}
{#        <br>#}
{#        {% if line.link == 'N/A' %}#}
{#            N/A#}
{#        {% else %}#}
{#            <a href="{{ line.link}}" >{{ line.link }}</a>#}
{#        {% endif %}#}
{#        <div class="brief">{{ line.description }}</div>#}
{#        <br>#}
{#    {% endfor %}#}

{% endblock test %}

