    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">SRM Evaluation</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for line in SRM %}
                    <b>{{ line.category }}</b>

                    {% if line.link == 'N/A' %}
                        N/A
                    {% else %}
                    <a href="{{ line.link}}" target="_blank">Link</a>
                    {% endif %}
                    <div class="brief">{{ line.description }}</div>
                    <br>
                    {% endfor %}
                </div>
{#                <div class="panel-footer">Panel Footer</div>#}
            </div>

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">LHR Evaluation</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for line in LHR %}
                    <b>{{ line.category }}</b>
{#                    <br>#}
                    {% if line.link == 'N/A' %}
                        N/A
                    {% else %}
                    <a href="{{ line.link}}" target="_blank">Link</a>
                    {% endif %}
                    <div class="brief">{{ line.description }}</div>
                    <br>
                    {% endfor %}
                </div>
{#                <div class="panel-footer">Panel Footer</div>#}
            </div>

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Environmental Sustainability Evaluation</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for line in ES %}
                    <b>{{ line.category }}</b>
{#                    <br>#}
                    {% if line.link == 'N/A' %}
                        N/A
                    {% else %}
                    <a href="{{ line.link}}" target="_blank">Link</a>
                    {% endif %}
                    <div class="brief">{{ line.description }}</div>
                    <br>
                    {% endfor %}
                </div>
{#                <div class="panel-footer">Panel Footer</div>#}
            </div>

        </div>
    </div>