<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script type="text/javascript" src="/static/risk_evidence.js"></script>

{% extends 'dashboard.html' %}
{% block title %}Add evidence{% endblock %}
{% block page_head %}Add Evidence{% endblock %}

{% block test %}
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
                <form method="POST" action="/risk_evidence/supply_chain_impact/add/">
                    {% csrf_token %}
{#                    {{ form.as_p }}      #}
                <table style="width: 100%" class="table">
                    {% for field in form %}
                        <tr>
                            <td style="width: 80%">{{ field.label_tag }}{{ field }}</td>
                            {% if form.errors %}
                                <td>
                                {{ field.errors }}
                            </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
                    <br>
                    <br>
                <input type="submit" class="btn btn-default" value="Create" />
            </form>
        </div>

    </div>


{% endblock %}