


{% extends 'dashboard.html' %}
{% block title %}Add evidence{% endblock %}
{% block page_head %}Add Evidence{% endblock %}

{% block test %}
{#        <div class="evidence_add">#}

        <form method="POST" action="/risk_evidence/evidence/add/">
                    {% csrf_token %}
            <div id="sides">
                <div id="left">
                    <h3>Evidence for Supply Chain Impact</h3>
{#                    {{ form1.as_p }}#}
                    <table class="table" id="form-table">
                    {% for field in form1 %}
                        <tr >
                            <td>
                                <ul>
                                    <li>{{ field.label_tag }}</li>
                                    <li>{{ field.errors }}</li>
                                    <li>{{ field }}</li>
                                    {% if forloop.counter > 8 %}
                                        <li>{{ hint1.pop }}</li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                <div id="right">
                    <h3>Evidence for Probability</h3>
{#                    {{ form2.as_p }}#}
                <table class="table" id="form-table">
                    {% for field in form2 %}
                         <tr >
                            <td>
                                <ul>
                                    <li>{{ field.label_tag }}</li>
                                    <li>{{ field.errors }}</li>
                                    <li>{{ field }}</li>
                                    {% if forloop.counter > 8 %}
                                        <li>{{ hint2.pop }}</li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
            <br>
            <br>

            <div class="buttonHolder">
                <input type="submit" class="btn btn-lg" value="Submit"/>
            </div>
        </form>
{% endblock %}