{% extends 'dashboard.html' %}

{% block page_head %}Number scales setting{% endblock %}

{% block test %}
    <table id="score_list" class="table table-striped">
        <h2>Supply Chain Impact</h2>
        <col width="12%">
        <col width="12%">
        <col width="64%">
        <col width="12%">
        <thead>
            <tr>
                <th>Letter Scale</th>
                <th>Number Scale</th>
                <th>Definition</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores1 %}
                <tr>
                    <td><a href={% url 'edit_score' score.id %}>{{ score.letter_scale }}</a></td>
                    <td>{{ score.num_scale }}</td>
                    <td>{{ score.definition }}</td>
                    <td>{{ score.sub_category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table id="score_list" class="table table-striped">
        <h2>Probability</h2>
        <col width="12%">
        <col width="12%">
        <col width="64%">
        <col width="12%">
        <thead>
            <tr>
                <th>Letter Scale</th>
                <th>Number Scale</th>
                <th>Definition</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores2 %}
                <tr>
                    <td><a href={% url 'edit_score' score.id %}>{{ score.letter_scale }}</a></td>
                    <td>{{ score.num_scale }}</td>
                    <td>{{ score.definition }}</td>
                    <td>{{ score.sub_category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block page_action %}
    {% endblock %}
    <a href={% url "risk_evidence.views.score_add" %}>Add score</a>

{% endblock %}